<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Global Warming: Rising Temperatures</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="{% static 'images/Website-logo.png' %}">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
			<section id="sidebar">
					<nav>
						<ul>
							<li><a href="#intro">Introduction</a></li>
							<li><a href="#one">Visuals</a></li>
							<li><a href="#two">Data Source</a></li>
							<li><a href="#three">How to help</a></li>
						</ul>
					</nav>
				</div>
			</section>

			<div id="wrapper">
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Is Global Warming a Real Issue?</h1>
							<p>Global Warming is a very important issue that can have a long-term impact on human civilization. Scientist observed that Earth's climate has rapidly increased due to human acitivies such as burning fossil fuels and human over-consumption. As a result, Earth's atmosphere resulted in increase green house gas levels which then raised Earth's average surface temperature. It will cause rising sea levels, and more extreme weather conditions.  
							</p>
							<section>
								
								<a href="#" class="image"><img src="{% static 'images/Website logo.png' %}" alt="" data-position="center center" width="200" /></a>
							</section>
							<ul class="actions">
								<li><a href="#one" class="button scrolly" data-position="center center">Press this button to go down</a></li>
							</ul>
						</div>
					</section>

					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="{% static 'images/pic01.png' %}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:#4f6367;">Rising Temperatures in the United States by Month</h2>
									<blockquote>This data looks at the maximum and minimum temperature changes by month from Janurary 1979 to December 2010.</blockquote>
									<ul class="actions">
										<li><a href="Graph1/" class="button button2">See Visuals</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{% static 'images/pic10.png' %}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:#4f6367;">Rising Temperatures in the United States by Year</h2>
									<blockquote>This data looks at the maximum and minimum temperature changes by year from 1979 to 2010.</blockquote>
									<ul class="actions">
										<li><a href="Graph2/" class="button button2">See Visuals</a></li>
									</ul>
								</div>
							</div>
						</section>
						
					</section>


					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Our data comes from</h2>							
							<div class="features">
								<section>
									<h3><a href = "https://wonder.cdc.gov/nasa-nldas.html" target="blank">CDC: North America Land Data Assimilation System (NLDAS)</a></h3>
								</section>								
							</div>
							<p>The Centers for Disease Control and Prevention (<a href="https://www.cdc.gov/" target="blank">CDC</a>) is a United States federal agency under the <a href = "https://www.hhs.gov/" target="blank"> Department of Health and Human Services</a>. The agency primarily focuses on developing and applying disease control and prevention. The CDC also conducts research and provides information on global and environmental health</p>
						</div>
					</section>


					<section id="three" class="wrapper style4 fade-up">
						<div class="inner">
							<h2>Help the World Out</h2>
							<p>There are many different organizations out there that make an impact during these trying times. Lend a hand to them or support them through donations.</p>
							<div class="split style1">
								<section>
									<h3><a href="https://teamtrees.org/">Team Trees</a></h3>
									<p></p>
									<h3><a href="https://teamseas.org/">Team Seas</a></h3>	
									<p></p>							
									<h3><a href="https://www.coolearth.org/">Cool Earth</a></h3>
									<p></p>							
									<h3><a href="https://carbonremoved.com/">Carbon Removed</a></h3>
								</section>
								<section>
									<a class="image"><img src="{% static 'images/pic09.png' %}" width="257.9" height="192"/></a>
								</section>
							</div>
						</div>
					</section>

			</div>

			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Anson, Maimuna, Zainab</li>
					</ul>
				</div>
			</footer>

			

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>